@import '../../utils/styles.scss';

@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes outer-left {
  from {
    transform: translateX(30%);
  }

  to {
    transform: none;
  }
}

@keyframes inner-left {
  from {
    transform: translateX(-40%);
  }

  to {
    transform: none;
  }
}

.main-hero {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  &__inner {
    width: 70%;
    margin-left: 100px;
    position: absolute;
    top: 30%;
    color: #fff;
    font-weight: bold;
  }

  &__content {
    width: 100%;

  }

  &__image {
    width: 43vw;
    height: 43vh;

    &_day {
      path {
        fill: url('#LightGradient');
      }
    }

    &_night {
      path {
        fill: url('#NightGradient');
      }
    }

    &-block {
      z-index: -1;
      position: absolute;
      top: 22%;
      left: 20%;
    }
  }

  &__title {
    font-size: 3rem;
  }

  &__subtitle {
    font-size: 2rem;
    font-style: italic;
  }

  &__button-wrapper {
    margin-top: 20px;
    border: none;
    background: none;
  }

  &__about-button {
    position: relative;
    margin: auto;
    padding: 1rem 1rem;
    transition: all .2s ease;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    &[data-animation='0,5s'] {
      animation: text-clip 1s 0.5s cubic-bezier(0.5, 0, 0.1, 1) both;
    }

    &[data-animation='1,5s'] {
      animation: text-clip 1s 1.5s cubic-bezier(0.5, 0, 0.1, 1) both;
    }

    &_day {
      &::before {
        background: rgba($primary-day, .5);
      }

      &:hover {
        &:before {
          background: rgba($primary-day, 1)
        }
      }
    }

    &_night {
      &::before {
        background: rgba($primary-night, .5);
      }

      &:hover {
        &:before {
          background: rgba($primary-night, 1)
        }
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 4px;
      left: 0;
      display: block;
      border-radius: 1.25rem;
      width: 2.5rem;
      height: 2.5rem;
      transition: all .3s ease;
    }

    span {
      position: relative;
      font-size: 0.825rem;
      font-weight: 900;
      letter-spacing: .25em;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
    }

    svg {
      position: relative;
      top: 0;
      margin-left: 10px;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: #fff;
      stroke-width: 2;
      transform: translateX(-5px);
      transition: all .3s ease;
    }

    &:hover {
      &:before {
        width: 100%;
      }

      svg {
        transform: translateX(0)
      }
    }

    &:active {
      transform: scale(.96)
    }
  }
}


.main-hero__title[data-animation='1,5s'],
.main-hero__subtitle[data-animation='1,5s'] {
  animation: outer-left 1s 1.5s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.main-hero__title[data-animation='2,5s'],
.main-hero__subtitle[data-animation='2,5s'] {
  animation: outer-left 1s 2.5s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.main-hero__content[data-animation='1,5s'] {
  animation: inner-left 1s 1.5s ease both;
}

.main-hero__content[data-animation='2,5s'] {
  animation: inner-left 1s 2.5s ease both;
}

.main-hero__title-inner[data-animation='0,5s'] {
  animation: text-clip 1s 0.5s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.main-hero__title-inner[data-animation='1,5s'] {
  animation: text-clip 1s 1.5s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.main-hero__subtitle-inner[data-animation='0,5s'] {
  animation: text-clip 1s 0.5s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.main-hero__subtitle-inner[data-animation='1,5s'] {
  animation: text-clip 1s 1.5s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.main-hero__inner[data-animation='1,5s'] {
  animation: outer-left 1s 1.5s ease both;
}

.main-hero__inner[data-animation='2,5s'] {
  animation: outer-left 1s 2.5s ease both;
}

@media (max-width: 450px) {
  .main-hero {
    &__inner {
      margin-left: 30px;
      width: 68%;
    }
  }
}