@import '../../../..//utils/styles.scss';

.resume {
  &__button {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90px;
    height: 50px;
    margin: 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    &_day {
      border: 2px solid $green;
      &::before {
        background: $green;
      }
    }
    &_night {
      border: 2px solid $purple;
      &::before {
        background: $purple;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-origin: 0 0;
      transform: scale3d(1, 0, 1);
      transition: transform 300ms;
    }

    &:hover {
      .text {
        background-position: 0 100%;
      }

      &::before {
        transform-origin: 0 100%;
        transform: scale3d(1, 1, 1);
      }
    }
  }

  &__link {
    position: relative;
    color: transparent;
    font-weight: bold;
    background-image: linear-gradient(0deg,
        #fff 0%,
        #fff 50%,
        (rgb(255, 255, 255)) 50%,
        (rgba(255, 255, 255, 1)) 100%);
    background-repeat: repeat;
    background-size: 100% 200%;
    background-position: 0 0;
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-position 300ms;
  }
}