@import '../../../utils/styles.scss';


@keyframes showProjectItemsLeft {
  0% { transform: translateX(30%);}
  100% { transform: translateX(0%); opacity: 1;}
}
@keyframes showProjectItemsRight {
  0% { transform: translateX(-30%);}
  100% { transform: translateX(0%); opacity: 1;}
}

.project {
  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 5rem;
    opacity: 0;
    animation: showProjectItemsRight 1.5s 1s forwards;

    &:nth-of-type(2n) {
      animation: showProjectItemsLeft 1.5s 1s forwards;
      .project__image {
        left: auto;
        right: 0;
      }

      .project__content {
        left: 0;
        text-align: left;
      }

      .project__tech-list {
        align-self: start;
      }
    }
  }

  &__image {
    width: 71%;
    position: absolute;
    left: 0;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      filter: brightness(1) grayscale(1) opacity(0.6);
      background-color: blue;
      width: 100%;
      height: 98%;
      mix-blend-mode: multiply;
      transition: all 0.5S ease;
    }

    &:hover::before {
      filter: none;
      background: none;
    }

    img {
      max-width: 100%;
    }
  }

  &__title {
    margin-bottom: 15px;
  }

  &__content {
    position: absolute;
    right: 0;
    padding: 15px 0;
    display: flex;
    margin-right: 0;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    width: 55%;
  }

  &__desc {
    padding: 2rem 1rem;
    border-radius: 6px;

    &_day {
      background-color: $primary-day;
    }

    &_night {
      background-color: $secondary-night;

    }
  }

  &__tech-list {
    align-self: end;
    width: 80%;
    color: #a8b2d1;
    margin-top: 1rem;
    word-break: break-all;
    margin-bottom: 1rem;

    span {
      display: inline-block;
      margin-right: 0.5rem;
      font-weight: 200;
      font-size: .9rem;
    }
  }

  &__links {
    &_day {
      a:hover svg {
        fill: $primary-day;
      }
    }

    &_night {
      a:hover svg {
        fill: $primary-night;
      }
    }

    svg {
      height: 20px;
      width: 20px;
      fill: #fff;
      transition: all 0.2s linear;
    }

    a {
      :first-child {
        margin-right: 15px;
      }
    }
  }
}

@media (max-width: 768px) {
  .project {
    &__image {
      width: 100%;
      height: 100%;
      box-shadow: 0 10px 30px -15px black;
      filter: grayscale(13%) contrast(1) brightness(50%);

      img {
        filter: blur(1px);
        height: 100%;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #0f0d10;
        ;
        opacity: 0.55;
      }
    }

    &__desc {
      background: none;
      font-size: 1.2rem;
      padding: 0;
    }

    &__title {
      font-size: 3rem;
    }

    &__tech-list {
      align-self: start;

      span {
        font-size: 1.1rem;
      }
    }

    &__content {
      right: 30px;
      width: 80%;
      height: 100%;
      padding-top: 30px;
      text-align: initial;
    }

    &__item {
      &:nth-of-type(2n) {
        .project__image {
          right: auto;
          left: auto;
        }

        .project__content {
          left: auto;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .project {
    &__desc {
      font-size: 1.6rem;
    }

    &__title {
      font-size: 3rem;
    }

    &__tech-list {

      span {
        font-size: 1.2rem;
      }
    }
  }
}