.projects {
  padding: 0;
  padding-top: 15vh;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    width: 100%;
    max-width: 1000px;
  }

  &__title {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 1.5s ease;
    transition-delay: 1.5s;

    &-loaded {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}

@media (max-width: 1280px) {
  .projects__list {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .projects__list {
    width: 100%;
  }
}