// @keyframes downUpTitle {
//   0% { transform: translateY(-100%);}
//   100% { transform: translateY(0%); opacity: 1;}
// }

.projects {
  padding: 0;
  padding-top: 15vh;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    width: 100%;
    max-width: 1000px;
  }

  &__title {
    opacity: 0;
    animation: downUpTitle 1.5s 1.5s forwards;
  }
}

@media (max-width: 1280px) {
  .projects__list {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .projects__list {
    width: 100%;
  }
}