.contact {
  &__input {
    display: block;
    width: 100%;
    border: 0;
    margin-bottom: 25px;
    color: #fff;
    border-bottom: 2px solid silver;
    padding: 8px 5px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 0;
    background: transparent;
    font-family: inherit;
    resize: none;

    &:focus {
      outline: none;
    }
  }

  &__button {
    padding: 10px 15px;
    background-color: transparent;
    border-radius: 10px;
    border: 3px solid rgba(4, 0, 255, 0.4);
    width: 30%;
    border-radius: 5px;
    letter-spacing: 3px;
    font-weight: bold;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='blue' fill-rule='evenodd'%3E%3Cg fill='blue' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      animation: animatedBackground 5s linear infinite alternate;
      transform: translateY(-2px);
    }
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}

label {
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 0.8rem;
}

.contact {
  &__form {
    width: 70%;
  }

  &__input {
    &-wrapper {
      position: relative;
    }
  }
}

.contact__input~.focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #3399FF;
  transition: 0.4s;
}

.contact__input:focus~.focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}