.app {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: linear-gradient(to bottom right,#3a0c91, #000);
  overflow: hidden;
  display: flex;
  &__content {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    z-index: 10;
  }
}



