@import '../../utils//styles.scss';

.contacts {
  &__list {
    position: fixed;
    left: 40px;
    bottom: 0;
    z-index: 10;
    opacity: 0;
    transform: translateY(100%);
    transition: all 1.8s ease;
    transition-delay: 1.8s;

    &.contact-list-loaded {
      opacity: 1;
      transform: translateY(0%);
    }

    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 90px;
      margin: 0px auto;
      background-color: #fff;
      margin-top: 30px;
    }
  }

  &__item {
    margin-bottom: 15px;

    svg {
      width: 1.1rem;
      height: 1.1rem;
    }
  }
}

.contact {
  &__link {

    svg,
    path {
      transition: 0.2s all linear;
    }

    &_day {
      &:hover {
        path {
          fill: $primary-day !important;
        }
      }
    }

    &_night {
      &:hover {
        path {
          fill: $primary-night !important;
        }
      }
    }

    &:hover {
      svg {
        transform: scale(1.2);
      }
    }
  }
}

@media (max-width: 768px) {
  .contacts__list {
    display: none;
  }
}