@import '../../utils//styles.scss';

.contacts {
  &__list {
    position: fixed;
    left: 8%;
    bottom: 0;
    z-index: 10;

    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 90px;
      margin: 0px auto;
      background-color: #fff;
      margin-top: 30px;
    }
  }

  &__item {
    margin-bottom: 15px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.contact {
  &__link {

    svg,
    path {
      transition: 0.2s all linear;
    }

    &_day {
      &:hover {
        path {
          fill: $primary-day !important;
        }
      }
    }

    &_night {
      &:hover {
        path {
          fill: $primary-night !important;
        }
      }
    }

    &:hover {
      svg {
        transform: scale(1.2);
      }
    }
  }
}