@import '../../utils/styles.scss';

.about-contact {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all 1s ease;

  &__wrapper {
    max-width: 1170px;
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
  }
}

.half-contact {
  width: 50%;
  height: 100%;
  position: relative;

  &__wrapper {
    position: absolute;
    top: 15%;
    width: 80%;

    &_about {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 10px;
      width: 100%;
      transition: all 0.5s linear;

    }
  }

  &_about {
    background-color: hsla(0, 0%, 95%, .97);
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    transition: all 0.5s ease;
    transform: translateY(-100%);
    opacity: 0;
    transition-delay: 0.4s;
  }

  &_day {
    background-color: $secondary-day;
  }

  &_night {
    background-color: $secondary-night;
  }

  &_contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5%;
    position: relative;
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.5s ease;
    transition-delay: 0.4s;

    span {
      position: absolute;
      right: 10%;
    }
  }

  &__title h2 {
    font-size: 25px
  }

  &__subtitle h4 {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  &__about-info {
    p {
      font-size: 1rem;
    }
  }

  &__info-block {
    width: 50%;
  }

  &__image {
    max-width: 100%;
    filter: brightness(1) grayscale(1) opacity(0.7);
    object-fit: cover;
    display: block;
    border-radius: 10px;
    z-index: 50;
    transition: all 0.2s linear;

    &-wrapper {
      box-shadow: 0 10px 30px -15px $secondary-night;
      transition: all 0.3s linear;
      display: block;
      position: relative;
      width: 100%;
      border-radius: 10px;

      &_day {
        background-color: $secondary-day;

        &::after {
          border: 2px solid $secondary-day;
        }
      }

      &_night {
        background-color: blue;

        &::after {
          border: 2px solid $secondary-night;
        }
      }

      &:hover {
        background-color: transparent;

        img {
          filter: none;
        }
      }

      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition: all 0.3s linear;
      }

      &:hover::after {
        top: 11px;
        left: 11px;
      }

      &::before {
        top: 0px;
        left: 0px;
        mix-blend-mode: screen;
      }

      &::after {
        top: 15px;
        left: 15px;
        z-index: -1;
      }
    }


    &-block {
      max-width: 160px;
      position: relative;
      height: auto;
      border-radius: 10px;
      z-index: 3;

      &_day {
        box-shadow: 10px 10px 30px -10px $secondary-day;
      }

      &_night {
        box-shadow: 10px 10px 30px -10px $secondary-night;
      }
    }
  }
}

.contact-form {
  &__close-btn {
    background: none;
    border: 0;
    box-sizing: border-box;
    color: transparent;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 6px;
    letter-spacing: 1.5px;
    line-height: 36px;
    outline: none;
    overflow: hidden;
    font-weight: 900;
    text-align: center;
    padding: 10px 0 0;
    position: absolute;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in;
    width: 42px;

    &_day:hover {
      color: $primary-day;
    }

    &_night:hover {
      color: $primary-night;
    }

    &::before,
    &::after {
      background-color: white;
      content: '';
      display: block;
      height: 3px;
      left: 0;
      position: absolute;
      transform-origin: center left;
      transition: all 0.2s ease-in;
      width: 141.4214px;
      z-index: -1;
    }

    &::before {
      top: 0;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 0;
      transform: rotate(-45deg);
    }

    &:hover {

      &::before,
      &::after {
        height: 50px;
        transform: rotate(0deg);
      }
    }
  }
}


@media (max-width: 1024px) {
  .half-contact {
    &__image-wrapper::after {
      top: 10px;
      left: 10px;
    }

    &__wrapper_about {
      flex-direction: column;
      padding-left: 5%;
    }

    &__info-block {
      width: 80%;
    }
  }
}

@media (max-width: 768px) {
  .about-contact {
    &__wrapper {
      overflow-y: auto;
      width: 100vw;
      height: 100vh;
      flex-direction: column-reverse;
    }
  }

  .half-contact {
    padding: 20px;
    width: 100%;

    &__image-block {
      max-width: 120px;
    }

    &__info-block {
      width: 100%;
    }

    &__wrapper {
      position: relative;
      width: 80%;
      margin: 0 auto;
      top: 0;

      &_about {
        padding: 0;
      }
    }

    &_contact span {
      top: 22px;
      right: -20px;
    }
  }

  .contact-form__close-btn {
    padding: 0;
    width: 36px;
  }
}

@media (max-width: 450px) {
  .half-contact {
    &__about-info p {
      font-size: 1.3rem;
    }

    &__subtitle {
      font-size: 1.8rem;
    }

    &__image-block {
      max-width: 100px;
    }
  }
}

.show-half-contact_about {
  opacity: 1;
  transform: translateY(0);
  transform: translateX(0);
}

.show-half-contact_contact {
  opacity: 1;
  transform: translateY(0);
  transform: translateX(0);
}

.is-contact-open {
  z-index: 31;
  opacity: 1;
}

@media (max-width: 768px) {
  .half-contact {
    &_about {
      transform: translateX(-100%);
    }

    &_contact {
      transform: translateX(100%);
    }
  }
}

.show-half-contact_about {
  opacity: 1;
  transform: translateY(0);
}

.show-half-contact_contact {
  opacity: 1;
  transform: translateY(0);
}

.is-contact-open {
  z-index: 31;
  opacity: 1;
}