@import '../../utils/styles.scss';

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;

  &_day {
    background: linear-gradient(to bottom right, #ff0000, rgb(216, 216, 216));
  }

  &_night {
    background: linear-gradient(to bottom right, $secondary-night, #000);
  }

  &__icon {
    position: absolute;
    width: 35px;
    transition: 400ms linear all;
  }

  &_typescriptIcon {
    top: 15%;
    left: 10%;
  }

  &_javascriptIcon {
    top: 10%;
    left: 30%;
  }

  &_angularIcon {
    top: 30%;
    left: 60%;
  }

  &_cssIcon {
    top: 45%;
    left: 90%;
  }

  &_dockerIcon {
    top: 30%;
    left: 75%;
  }

  &_gitIcon {
    top: 65%;
    left: 80%;
  }

  &_githubIcon {
    top: 50%;
    left: 50%;
  }

  &_graphqlIcon {
    top: 85%;
    left: 45%;
  }

  &_gulpIcon {
    top: 70%;
    left: 60%;
  }

  &_htmlIcon {
    top: 85%;
    left: 20%;
  }

  &_jsonIcon {
    top: 80%;
    left: 80%;
  }

  &_mongoIcon {
    top: 65%;
    left: 30%;
  }

  &_nodeIcon {
    top: 30%;
    left: 25%;
  }

  &_reduxIcon {
    top: 50%;
    left: 10%;
  }

  &_vueIcon {
    top: 10%;
    left: 90%;
  }

  &_webpackIcon {
    top: 10%;
    left: 60%;
  }
}